In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('dark')

us_m_13=pd.read_csv('USOpen-men-2013.csv')

Q. How has the dynamics of the players who played the other Grand Slams as well changed here? Are there any players who played consistently on both the surfaces? Did the consistency help them get far in the tournament?

In [15]:
us_m_13

,Player1,Player2,Round,Result,FNL1,FNL2,FSP.1,FSW.1,SSP.1,SSW.1,...,BPW.2,BPC.2,NPW.2,NPA.2,TPW.2,ST1.2,ST2.2,ST3.2,ST4.2,ST5.2
0,Richard Gasquet,Michael Russell,1,1,3,0,63,45,37,16,...,1,3,30.0,40.0,83,3,4,2.0,NaN,NaN
1,Stephane Robert,Albano Olivetti,1,1,3,0,61,44,39,19,...,0,1,NaN,NaN,71,3,3,4.0,NaN,NaN
2,Jan-Lennard Struff,Guillaume Rufin,1,0,2,3,55,61,45,32,...,5,15,NaN,NaN,149,7,6,2.0,2.0,6.0
3,Aljaz Bedene,Dmitry Tursunov,1,0,1,3,52,41,48,19,...,6,9,NaN,NaN,121,7,4,6.0,6.0,NaN
4,Feliciano Lopez,Florent Serra,1,1,3,1,58,54,42,30,...,0,3,NaN,NaN,123,7,2,3.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,Novak Djokovic,Mikhail Youzhny,1,1,3,1,68,49,32,19,...,2,10,10.0,21.0,87,3,2,6.0,0.0,NaN
122,Andy Murray,Stanislas Wawrinka,1,0,0,3,63,37,37,22,...,4,11,31.0,42.0,107,6,6,6.0,NaN,NaN
123,Novak Djokovic,Stanislas Wawrinka,1,1,3,2,67,64,33,25,...,5,9,26.0,41.0,165,6,6,6.0,3.0,4.0
124,Richard Gasquet,Rafael Nadal,1,0,0,3,64,41,36,15,...,4,4,22.0,28.0,102,6,7,6.0,NaN,NaN
125,Novak Djokovic,Rafael Nadal,1,0,1,3,68,40,32,16,...,7,12,17.0,23.0,121,6,3,6.0,6.0,NaN

In [17]:
df=us_m_13[['WNR.1', 'UFE.1', 'WNR.2', 'UFE.2']]
df

     WNR.1  UFE.1  WNR.2  UFE.2
0      NaN    NaN    NaN    NaN
1      NaN    NaN    NaN    NaN
2      NaN    NaN    NaN    NaN
3      NaN    NaN    NaN    NaN
4      NaN    NaN    NaN    NaN
..     ...    ...    ...    ...
121    NaN    NaN    NaN    NaN
122    NaN    NaN    NaN    NaN
123    NaN    NaN    NaN    NaN
124    NaN    NaN    NaN    NaN
125    NaN    NaN    NaN    NaN

[126 rows x 4 columns]

The data given in the dataframe is incomplete and without these missing parameters, it is not possible to understand the dynamics of the players in this tournament. Hence, this question is unanswerable.